@page "/Success"
@layout NoMenu
<center>
    <h1>Success</h1>
    <a href="/">You should be automatically redirected, if you are not; Please click here.</a>
    <meta http-equiv="refresh" content="3; url = /" />
</center>
