@page "/Turtle"
<PageTitle>Index</PageTitle>

<center>
<div class="flex-column">
		<a href="/Login"><button id="button" class="button" name="LoginButton">Log In</button></a>
		<style>
			button {
				color: #000000;
				background-color: #cce9f7;
				font-size: 19px;
				padding: 15px 50px;
				cursor: pointer
			}

				button:hover {
					color: #ffffff;
					background-color: #749baf;
				}
		</style>
</div>
</center>
